
.nav{
    margin-top: 1rem;
    
}

.login{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.log{
    background:linear-gradient(230deg,rgb(87, 212, 83),rgb(187, 218, 95));
}

.cards{
    background:linear-gradient(360deg,rgb(218, 148, 95),rgb(83, 137, 212));   
}

